* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

.pad {
  padding: 10px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

/* Navbar */
.nav-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}

.navbar {
  width: 100%;
  background: rgb(61, 57, 57);
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f4f4f4;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 60%;
  margin: 10px auto;
  outline: none;
  border: none;
}

.formHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  margin: 10px auto;
  outline: none;
  border: none;
}

.nav-links {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  margin: 0 2rem;
}

.form-text {
  padding: 10px 0;
}

.input-form {
  width: 100%;
  height: 100%;
}

.btn-search {
  height: 100%;
  width: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: #333;
  color: #f4f4f4;
  outline: none;
  border: none;
}

.searchLabel {
  background: #333;
  height: 100%;
  padding: 5px 10px;
  font-size: 1rem;
  color: #f4f4f4;
}

.logo {
  font-family: "Monoton", cursive;
  color: #f4f4f4;
  font-size: 2rem;
}

/* Recipe list */
.recipeList-container {
  display: grid;
  max-width: 90%;
  margin: 6rem auto 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.recipeList {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* border: 1px solid #000; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  position: relative;
  height: 35rem;
  margin-bottom: 2rem;
}

.recipeImg-container {
  height: 100%;
}

.recipeList-text {
  text-align: center;
  /* margin: 1rem; */
}

.recipeImg {
  max-height: 100%;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.singleRecipe-items {
  height: 100%;
}

.recipe-publisher {
  padding: 10px 0;
  font-size: 1.2rem;
  height: 4rem;
}

.btn-container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-div {
  border: 1px solid black;
  margin: 0 10px;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.btn-div1,
.btn-div2 {
  width: 6rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.btn-div a {
  height: 100%;
  width: 100%;
  padding-top: 7px;
  text-decoration: none;
  font-size: 1.1rem;
}

.btn-div2 {
  background: #8b4367;
  border: none;
}

.btn-div2 a {
  color: #fff;
}

.btn-div1:hover {
  background: #8b4367;
}

.btn-div1:hover a {
  color: #fff;
}

.btn-div2:hover {
  background: #f4f4f4;
  border: 1px solid #000;
}

.btn-div2:hover a {
  color: #333;
}

/* recipedetails button */
.detailsbtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-details {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  text-transform: capitalize;
  width: 6rem;
  height: 2.5rem;
  margin: 0 25px;
  text-align: center;
  background: #8b4367;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.btn-details:hover {
  background: #f4f4f4;
}

.btn:hover {
  color: #000;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* recipe */
.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: 3rem auto;
  grid-gap: 2rem;
}

.recipeDetails-image {
  height: 23rem;
  width: 100%;
}

.recipe-info {
  display: grid;
  grid-template-rows: auto auto;
}

.flex {
  display: flex;
}

.ingredient {
  border: 1px solid #000;
  padding: 8px;
}

.ingredient-links {
  margin-top: 10px;
}

.ingredient-links li {
  padding: 5px 0;
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-title-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-title {
  font-size: 2rem;
  font-family: "Courgette", cursive;
  /* height: 3rem; */
  padding: 1.5rem 0;
}

.recipe-populartitle {
  font-size: 1.5rem;
}

.loader {
  margin-top: 5rem;
  height: 10rem;
}

.loader-container {
  height: 100%;
  background: url("./images/loading.gif") center no-repeat;
}

.header {
  background: linear-gradient(rgb(61, 57, 57), rgba(0, 0, 0));
  height: calc(100vh - 4.5rem);
  overflow: hidden;
  position: relative;
}

.header-img {
  background: url("./images/pizza.png") center/cover no-repeat;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 10%;
  right: 13%;
}

.header-container {
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header-text h3 {
  font-size: 4rem;
  font-family: "Courgette", cursive;
  color: #f4f4f4;
}

.header-text h4 {
  padding: 20px 0 3rem 0;
  color: #f4f4f4;
}

/* .btn-header {
  margin-top: 10px;
  padding: 10px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: burlywood;
  cursor: pointer;
} */

.link-header {
  color: #333;
  padding: 10px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: burlywood;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
}

/* recipes page */
.search-div {
  margin: 30px 0;
  text-align: center;
}

.search-div h3 {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Courgette", cursive;
  padding: 3rem 0;
}
